h2 {
  font-size: 80px;
  color: darkcyan;
}
.cloud-icon {
  position: absolute;
  top: 150px;
  left: 230px;
  width: 3px;
  margin: 0;
  font-size: 150px;
  color: rgb(0, 225, 255);
}
.col-2 {
  color: rgb(182, 81, 120);
}

h3 {
  font-size: 20px;
}
